
__pycache__/


venv/
.env
.env.local
.env.bak

# ==================================
# FastAPI / Uvicorn logs
# ==================================
*.log
*.pid

# ==================================
# Docker / System files
# ==================================
*.bak
*.tmp
*.log
